<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="imagesResizeCommand" xsi:type="object">
                    Order\PlaceManually\Console\Command\PlaceOrderCommand
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Order\PlaceManually\Model\ResourceModel\MyCustomGrid\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order</argument>
            <argument name="eventPrefix" xsi:type="string">sales_order</argument>
            <argument name="eventObject" xsi:type="string">order</argument>
            <argument name="resourceModel" xsi:type="string">Order\PlaceManually\Model\ResourceModel\MyCustomGrid</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ordergrid_mycustomgrid_listing_data_source" xsi:type="string">Order\PlaceManually\Model\ResourceModel\MyCustomGrid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>